body {
    background-image: url("../images/dust.jpg");
    background-size: 100%;

}

#readyGif{
    background-image: url("../images/ready.gif");
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 20px;
    height: 270px;
    width: 480px;
}

#box{
    margin: 0 auto;
    width: 70%;
    height: 700px;
    background: rgba(255, 255, 255, 0.63);
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    

}

#triviaHeader{
    height: 100px;
    line-height: 100px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.596);
    background: rgba(255, 255, 255, 0.589);
    

}

#startButton{
    width: 500px;
    height: 100px;
    background: #f52d2d;
    border: solid #818586 2px;
    margin: 0 auto;
    margin-top: 20px;
    line-height: 20px;
    transition: all 0.2s;
    color: rgb(255, 255, 255);
}

#startButton:hover{
    background: #f3abab;
    border: solid 2px rgb(255, 255, 255);
    color: #00323f;
}

.x {
    -webkit-user-select: none;
    -moz-user-select: none;     
    -ms-user-select: none;      
    user-select: none; 
  }

  #timerDiv{
      margin-top: 50px;
      font-size: 30px;
  }

  #questionsDiv{
      margin-top: 20px;
      font-size: 30px;
      border: solid rgba(0, 0, 0, 0.39) 2px;
      background: rgba(255, 255, 255, 0.808);
  }

  #upperText{
      position: relative;
      top: 100px;
  }
  
  #questionWrapper{
      margin: 0 auto;
      margin-top: 20px;
      width: 300px;
      height: 300px;
     
  }

  #questionOne{
    margin: 0 auto;
    margin-top: 20px;
    width: 300px;
    height: 50px;
    background: rgba(255, 115, 0, 0.623);
    border: solid 2px rgb(104, 39, 14);

  }

  #questionOne:hover{
    background: rgba(43, 255, 0, 0.623);
    border: solid 2px rgb(185, 148, 135);
  }

  #correctGif1{
      background-image: url("../images/gif.gif");
      margin: 0 auto;
      margin-top: 20px;
      height: 200px;
      width: 500px;
  }

  #correctGif2{
    background-image: url("../images/gif2.gif");
    margin: 0 auto;
    margin-top: 20px;
    height: 270px;
    width: 480px;
  }

  #correctGif3{
    background-image: url("../images/gif3.gif");
    margin: 0 auto;
    margin-top: 20px;
    height: 281px;
    width: 500px;
  }
  

  #wrongGif1{
    background-image: url("../images/loser.gif");
    margin: 0 auto;
    margin-top: 20px;
    height: 240px;
    width: 320px;

  }

  #wrongGif2{
    background-image: url("../images/loser2.gif");
    margin: 0 auto;
    margin-top: 20px;
    height: 276px;
    width: 270px;

  }

  #wrongGif3{
    background-image: url("../images/loser3.gif");
    margin: 0 auto;
    margin-top: 20px;
    height: 270px;
    width: 480px;

  }

  #stats{
      margin: 0 auto;
      width: 600px;
      height: 250px;
      margin-top: 25px;
      border: 2px solid rgb(28, 91, 173);
      background: rgba(95, 95, 95, 0.384);
      

  }

  .b{
      margin-top: 10px;
  }