body {
    background-image: url("../images/dust.jpg");
    background-size: 30%;

}

#readyGif{
    background-image: url("../images/ready.gif");
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: -200px;
    height: 270px;
    width: 480px;
}

#box{
    margin: 0 auto;
    width: 70%;
    height: 700px;
    background: rgba(255, 255, 255, 0.76);
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    

}

#triviaHeader{
    height: 100px;
    line-height: 100px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.226);
    

}

#startButton{
    width: 500px;
    height: 100px;
    background: #2dd7f5;
    border: solid rgb(129, 133, 134) 2px;
    margin: 0 auto;
    margin-top: 20%;
    line-height: 20px;
    transition: all 0.2s;
    color: rgb(43, 43, 43);
}

#startButton:hover{
    background: #88e6f7;
    border: solid 2px rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.x {
    -webkit-user-select: none;
    -moz-user-select: none;     
    -ms-user-select: none;      
    user-select: none; 
  }

  #timerDiv{
      margin-top: 50px;
      font-size: 30px;
  }

  #questionsDiv{
      margin-top: 20px;
      font-size: 30px;
      border: solid rgba(0, 0, 0, 0.39) 2px;
      background: rgba(255, 255, 255, 0.808);
  }

  #upperText{
      position: relative;
      top: 100px;
  }
  
  #questionWrapper{
      margin: 0 auto;
      margin-top: 20px;
      width: 300px;
      height: 300px;
     
  }

  #questionOne{
    margin: 0 auto;
    margin-top: 20px;
    width: 300px;
    height: 50px;
    background: rgba(255, 115, 0, 0.623);
    border: solid 2px rgb(104, 39, 14);

  }

  #questionOne:hover{
    background: rgba(43, 255, 0, 0.623);
    border: solid 2px rgb(185, 148, 135);
  }

  #correctGif{
      background-image: url("../images/gif.gif");
      margin: 0 auto;
      margin-top: 20px;
      height: 200px;
      width: 500px;

  }

  #loserGif{
    background-image: url("../images/loser.gif");
    margin: 0 auto;
    margin-top: 20px;
    height: 240px;
    width: 320px;

  }